{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

{% for message in get_flashed_messages() %}
<div class="alert alert-dark" role="alert">
{{ message }}
</div>
{% endfor %}

<div class="parent" >
    {% for ad in our_ads %}
    <a href="/item/{{ad.id}}"class="child shadow-sm border rounded">
        <figure class="figure">
            <img src="{{ad.photo}}" class="figure-img img-fluid" alt="..." style="height: 200px; object-fit: fit; border-radius: 8px; padding: 2px">
            <figcaption class="figure-caption text-center" style="color:black">
                <b> {{ad.name}}</b><br>
                <b>{{ad.price}}</b><br>
                <br>
                <div class="textdesc">
                    {{ad.description}}
                </div>
                <br>
                <div class="textdesc2">
                {{ad.location}}
                    </div>
                <br>
                <b>
                {{ad.date_added.day}}
                {% if ad.date_added.month == 1 %}
                    Jan
                    {% elif ad.date_added.month == 2 %}
                        Feb {{ad.date_added.year}}
                    {% elif ad.date_added.month == 3%}
                        March {{ad.date_added.year}}
                    {% elif ad.date_added.month == 4%}
                        April {{ad.date_added.year}}
                    {% elif ad.date_added.month == 5%}
                        May {{ad.date_added.year}}
                    {% elif ad.date_added.month == 6%}
                        June {{ad.date_added.year}}
                    {% elif ad.date_added.month == 7%}
                        July {{ad.date_added.year}}
                    {% elif ad.date_added.month == 8%}
                        Aug {{ad.date_added.year}}
                    {% elif ad.date_added.month == 9%}
                        Sep {{ad.date_added.year}}
                    {% elif ad.date_added.month == 10%}
                        Oct {{ad.date_added.year}}
                    {% elif ad.date_added.month == 11%}
                        Nov {{ad.date_added.year}}
                    {% elif ad.date_added.month == 12%}
                        Dec {{ad.date_added.year}}
                {% endif %}
                    </b>
            </figcaption>
        </figure>
    </a>
    {% endfor %}
</div>

{% endblock %}
